@{
    ViewData["Title"] = "Strona startowa";
    var host = this.Context.Request.Host;
}
@using IBE.Common.Extensions
@model List<Church.WebApp.Controllers.ArticleInfo>

@section HeaderScripts {
<!-- social sharing metadata -->
<meta property="og:title" content="Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim" />
<meta property="og:description" content="Jesteśmy grupą chrześcijan, którzy pragną być kościołem Jezusa Chrystusa w Nowym Dworze Mazowieckim. Znikome znaczenie ma budynek kościelny czy przyjęty porządek nabożeństwa. Najważniejszy jest Bóg Ojciec, Syn i Duch Święty, Któremu należy się wszelka cześć, chwała i szacunek, którego czcimy i wielbimy. Ważny jest również człowiek, za którego nasz Pan oddał swoje życie i przelał bezcenną krew na krzyżu." />
<meta property="og:image" content="http://@host/img/brama.jpg" />
<meta property="og:url" content="http://@host" />"
<meta property="og:type" content="page" />
<meta property="og:locale" content="pl_PL" />
}
<div style="padding-top: 20px;" class="max-width-1000">
    <p id="banner" class="fs-5 text-center shadow p-3 mb-3 rounded">
        <img src="~/img/Ban_500x90_Bapt_Photo.jpg?ID=2" style="width: 100%;" alt="Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim" />
    </p>

    @if (Model.IsNotNull() && Model.Count > 0) {
        foreach (var item in Model) {
            var lead = item.Lead;

            <a href="../Article?id=@item.Id" class="list-group-item list-group-item-action m-0 border-0" aria-current="true" style="padding-left: 0; padding-right: 0;">
                <div class="card bg-transparent m-0 p-0 shadow-lg">
                    <div class="row g-0 m-0">
                        <div class="col-md-4 col-auto d-none d-lg-block">
                            <div class="col-auto d-none d-lg-block" style="background-image: url('data:image/png;base64, @item.AuthorPicture'); background-repeat: no-repeat; background-position: center center; background-size: cover; max-width: 350px; width: 100%; height: 245px;"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <strong class="d-inline-block mb-2 text-success pill-white float-end">@item.Type</strong>
                                <h3 class="card-title">@item.Subject</h3>
                                <p class="card-text">@lead</p>
                                <p class="card-text"><small class="text-muted">@item.AuthorName <br /> @item.GetDaysAgo()</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
        <div class="d-flex flex-row-reverse mt-3">
            <a href="../Articles" class="btn btn-secondary">Więcej...</a>            
        </div>

        <br/>
    }


    <div class="embed-responsive embed-responsive-16by9 shadow-lg">
        <iframe id="YouTubeFrame" width="560" height="600" src="https://www.youtube.com/embed/videoseries?list=PLUYRCCWSMh69waBP7LPvu_aAm8pkKL6Gh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
     <br/>
    <h2>Słowo powitania</h2>

    <p class="fs-5 mt-3">
        Cieszymy się, że trafiłeś na tę stronę. Pragniemy przekazać Ci, dobrą nowinę o&#160;Królestwie naszego Pana i&#160;Zbawiciela Jezusa Chrystusa:
    </p>
    <figure class="text-center">
        <blockquote class="blockquote">
            “Albowiem tak Bóg umiłował świat, że Syna Swego jednorodzonego dał,<br />aby każdy, kto weń wierzy, nie zginął, ale miał żywot wieczny”
        </blockquote>
        <figcaption class="blockquote-footer">
            <a href="BW/500/3/16" class="text-decoration-none">Ewangelia Jana <cite>3:16</cite></a>
        </figcaption>
    </figure>

    <p class="fs-5">
        Ta dobra nowina czyli ewangelia wzywa wszystkich ludzi o&#160;szczerym, pokornym sercu:
    </p>
    <figure class="text-center">
        <blockquote class="blockquote">
            “Upamiętajcie się, albowiem przybliżyło się Królestwo Niebios”
        </blockquote>
        <figcaption class="blockquote-footer">
            <a href="BW/470/3/2" class="text-decoration-none">Ewangelia Mateusza <cite>3:2</cite></a>
        </figcaption>
    </figure>

    <p class="fs-5">
        Obecne społeczeństwo idzie szeroką drogą, wygodnej, niezobowiązującej religijności,
        “<span class="italic">jednakże wąska jest droga i&#160;ciasna brama prowadząca  do życia i&#160;niewielu jest takich, którzy ją znajdują</span>”
        (<a href="BW/470/7/13,14" class="text-decoration-none">Mat 7:13,14</a>). Droga ta oznacza uznanie swojej grzeszności, szczere nawrócenie i&#160;podążanie śladami Pana Jezusa Chrystusa.
        Jak to zrobić? To jest właśnie sedno ewangelii:
    </p>

    <figure class="text-center">
        <blockquote class="blockquote">
            “Uwierz w&#160;Pana Jezusa, a&#160;będziesz zbawiony, ty i&#160;twój dom.”
        </blockquote>
        <figcaption class="blockquote-footer">
            <a href="BW/510/16/31" class="text-decoration-none">Dzieje Apostolskie <cite>16:31</cite></a>
        </figcaption>
    </figure>

    <p class="fs-5">
        Ten kto prawdziwie uwierzył, że Jezus Chrystus jest prawdziwym, obiecanym Mesjaszem, Panem i&#160;Królem,
        wierzy w&#160;jego dzieło zbawienia dokonane na krzyżu, ten otrzymuje zadatek Ducha Świętego,
        który uzdalnia go do prowadzenia świętego życia.
    </p>

    <figure class="text-center">
        <blockquote class="blockquote">
            “Albo czy nie wiecie, że niesprawiedliwi Królestwa Bożego nie odziedziczą?<br />Nie łudźcie się!
            Ani wszetecznicy, ani bałwochwalcy ani cudzołożnicy, ani rozpustnicy, ani mężołożnicy, ani złodzieje,
            ani chciwcy, ani pijacy, ani oszczercy, ani zdziercy Królestwa Bożego nie odziedziczą.<br />
            <strong>
                A takimi niektórzy z&#160;was byli; aleście obmyci, uświęceni, i&#160;usprawiedliwieni
                w&#160;imieniu Pana Jezusa Chrystusa i&#160;w&#160;Duchu Boga naszego
            </strong>”
        </blockquote>
        <figcaption class="blockquote-footer">
            <a href="BW/530/6/9,10,11" class="text-decoration-none">1 List do Koryntian <cite>6:9-11</cite></a>
        </figcaption>
    </figure>

    <p id="Brama" class="fs-5 float-sm-end w-25 text-center shadow p-3 mx-lg-5 bg-body rounded"><img src="~/img/brama.jpg" style="width: 100%;" /></p>

    <p class="fs-5">
        Wejdź na tę wąską drogę chrześcijańską, spotkaj się z&#160;nami. <a class="text-decoration-none" href="/Home/Service">
            Zgromadzamy się każdej <b>
                niedzieli
                o&#160;godzinie 11:00
            </b> oraz w&#160;każdy <b>czwartek o&#160;godzinie 17:30</b>
        </a>.
        Przyjdź takim jakim jesteś, bo nasz Pan również powiedział:
    </p>

    <figure class="text-center">
        <blockquote class="blockquote">
            “<strong>Pójdźcie do mnie wszyscy</strong>, którzy jesteście spracowani i&#160;obciążeni,
            <br />a&#160;Ja wam dam ukojenie.<br />Weźcie na siebie moje jarzmo i&#160;uczcie się ode mnie, że jestem cichy i&#160;pokornego serca,
            <strong>a&#160;znajdziecie ukojenie dla dusz waszych</strong>.<br />Albowiem jarzmo moje jest miłe,
            a&#160;brzemię moje lekkie.”
        </blockquote>
        <figcaption class="blockquote-footer">
            <a href="BW/470/11/28,29,30" class="text-decoration-none">Ewangelia Mateusza <cite>11:28-30</cite></a>
        </figcaption>
    </figure>

    <p class="fs-5">
        Prawdziwym sensem ludzkiego istnienia jest miłość do Boga i&#160;każdego człowieka.
        Bóg żywy i&#160;prawdziwy jest niewyczerpanym źródłem tej miłości, gdyż “Bóg jest miłością” (<a href="/BW/690/4/16" class="text-decoration-none">1&#160;Jan&#160;4:16</a>).
        Nic piękniejszego nie może spotkać człowieka, jak doświadczyć tej miłości, której źródłem jest Bóg.
    </p>

    <hr class="fancy-line" />
    <p class="fs-6">
        <img src="~/img/baptysci-logo-2.svg" style="float:left; height: 100px; max-width: 30%; margin-right: 10px;" />
        <strong>
            I Zbór Kościoła Chrześcijan Baptystów w Warszawie<br />
            Placówka w Nowym Dworze Mazowieckim
        </strong><br />
        ul. Sukienna 52 - sala na piętrze<br />
        05-100 Nowy Dwór Mazowiecki
    </p>
</div>