@model ArticleControllerModel
@{
    ViewData["Title"] = "Artykuł";

    var __host = (this.Context.Request.IsHttps ? "https://" : "http://") + this.Context.Request.Host;
    var __path = this.Context.Request.Path;

    var document = new HtmlAgilityPack.HtmlDocument();
    var html = $@"<!DOCTYPE html>
<html>
<body>
	{Model.Article.Text}
</body>
</html> ";
    document.LoadHtml(html);
    var xpath = "//*[self::h1 or self::h2 or self::h3 or self::h4 or self::h5]";
    @*var xpath2 = "//*[self::h1 or self::h2 or self::h3 or self::h4 or self::h5 or self::p or self::ol or self::ul]";
    HtmlAgilityPack.HtmlNodeCollection speecheloElements = null;
   
    //try
    //{
    //    var firstDiv = document.DocumentNode.Descendants("div").FirstOrDefault();
    //    if (firstDiv != null)
    //    {
    //        speecheloElements = firstDiv.SelectNodes(xpath2);
    //        @foreach (var e in speecheloElements)
    //        {
    //            var footnotes = e.Descendants().Where(x => x.Name == "a" && x.Attributes["id"] != null && x.Attributes["id"].Value.StartsWith("ref-fn")).ToArray();
    //            for (int i = footnotes.Length - 1; i >= 0; i--)
    //            {
    //                footnotes[i].InnerHtml = "";
    //            }

    //            e.InnerHtml = System.Text.RegularExpressions.Regex.Replace(e.InnerHtml, @"[\u0590-\u05FF\u200f\u200e]+", "");
    //        }

    //    }
    //}
    //catch { 
    
    //}
    *@
    var headings = document.DocumentNode.SelectNodes(xpath);

    @*
    //var speecheloPart = 1;
    //var speecheloPartLen = 18000;
    //var speecheloText = @"[startSpeech v=Loud rate=""+20%"" p=Low startSpeech] ";
    //@foreach (var e in speecheloElements) {       
    //    speecheloText += $" [breathing]{e.InnerText.Replace("&nbsp;", " ")}";
    //    if (speecheloText.Length > (speecheloPartLen * speecheloPart)) {
    //        speecheloText += @$" [endSpeech] -------------------- Part {speecheloPart} -------------------- [startSpeech v=Loud rate=""+20%"" p=Low startSpeech]";
    //        speecheloPart++;
    //    }
    //}
    //speecheloText += " [endSpeech]";
    //speecheloText = speecheloText.Replace("( )", "").Replace("()", "").Replace("'", "").Replace("-", "");
    //speecheloText = Regex.Replace(speecheloText, @"\s+", @" ");
    //speecheloText = Regex.Replace(speecheloText, @"(\[breathing\]((\s)+)?)+", @"[breathing] ");
    *@
    ViewData["ContainerClass"] = headings != null && headings.Count > 0 ? "container-translation" : "";
}
@inject IConfiguration Configuration

@section HeaderScripts {
    @if (Model.IsNotNull()) {
        <!-- social sharing metadata -->
        <meta property="og:title" content="@Model.Article.Subject - @Configuration["PageTitle"]" />
        <meta property="og:description" content="@Model.Article.Lead" />
        <meta property="og:image" content="@__host/api/ArticleImage?id=@Model.Article.Oid" />
        <meta property="og:url" content="@__host/Article?id=@Model.Article.Oid" />
        <meta property="og:type" content="article" />
        <meta property="og:locale" content="pl_PL" />
    }
}

 @section Footnotes {
      @if (headings != null && headings.Count > 0) {
        <div class="left-panel container">
            <div class="card-body bible-content">
                <ul>
                    @foreach (var h in headings) {
                        <li type="@h.Name">
                            @if (h.Id.IsNotNullOrEmpty()) {
                                @Html.Raw($@"<a href=""#{h.Id}"">")
                            }
                            @h.InnerText.Replace("&nbsp;", " ")
                            @if (h.Id.IsNotNullOrEmpty()) {
                                @Html.Raw("</a>")
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
 }

    @if (Model != null) {

    ViewData["Title"] = @Model.Article.Subject;

    <div class="row shadow-lg article-width">
        <div class="col p-4 d-flex flex-column position-static">
            <div class="btn-group" style="max-width:150px;">
                <a href="/articles" class="btn btn-light active d-inline-block text-decoration-none" title="Więcej artykułów" style="max-width: 50px;"><i class="far fa-arrow-alt-circle-left"></i></a>
                @{
                    var _abstract = Model.Article.Lead;
                    _abstract = System.Text.RegularExpressions.Regex.Replace(_abstract, @"[\s\(\,\;][a,i,o,w,z]\s", delegate (System.Text.RegularExpressions.Match m) {
                        return " " + m.Value.Trim() + "&nbsp;";
                    }, System.Text.RegularExpressions.RegexOptions.IgnoreCase);
                }

                <span class="btn btn-light d-inline-block text-success fw-bold" role="button">@Model.Article.Type.GetDescription()</span>
             </div>
            <h3 class="mb-0 text-gradient-church-service">@Model.Article.Subject</h3>
            <p class="mb-auto fst-italic">@Model.Article.AuthorName</p>
            <p class="mb-auto">@Html.Raw(_abstract)</p>
            <div class="mb-1 text-muted">@Html.Raw(Model.Article.Date.GetDatePl())</div>
        </div>

        @if (Model.Article.AuthorPicture.IsNotNull()) {
            <div class="col-auto d-none d-lg-block" style="background-image: url('data:image/png;base64, @Convert.ToBase64String(Model.Article.AuthorPicture)'); background-position: center center; background-repeat: no-repeat; background-size: cover; max-width: 350px; width: 40%;"></div>
        }
    </div>
    <div class="article-width">
        @{
            var text = Model.Article.Text;

            // usuwam sierotki
            text = System.Text.RegularExpressions.Regex.Replace(text, @"[\s\(\,\;][a,i,o,w,z]\s", delegate (System.Text.RegularExpressions.Match m) {
                return " " + m.Value.Trim() + "&nbsp;";
            }, System.Text.RegularExpressions.RegexOptions.IgnoreCase);
        }

        @Html.Raw(text)
    </div>





}
else {
    <div style="max-width: 1025px; margin: auto; padding-top: 20px;">
        <h1>Brak danych do wyświetlenia</h1>
        <p>Nie ma artykułu lub kazania o takim identyfikatorze w naszej bazie</p>
        <a href="/Articles" class="text-decoration-none" title="Więcej artykułów"><i class="far fa-arrow-alt-circle-left"></i> Pokaż listę artykułów</a>
    </div>
}
