@{
    ViewData["Title"] = "Strong";
}
@using IBE.Common.Extensions
@using DevExpress.Xpo;
@using System.Linq;
@using IBE.Data.Model;

@model IBE.Data.Model.StrongCode

@if (Model != null) {

    ViewData["Title"] = $"{@Model.Lang.GetCategory()}{@Model.Code}";
    var link = $"https://www.blueletterbible.org/lang/lexicon/lexicon.cfm?Strongs=G{@Model.Code}&t=MGNT";

    <div style="min-height: 80vh;">
        <div class="row p-4">
            <div class="col d-flex flex-column position-static">
                <div>
                    <strong class="d-inline-block mb-2 text-success pill-white">@Model.Lang.GetCategory()@Model.Code</strong>
                </div>
                <h3 class="mb-0">@Model.SourceWord</h3>
                <p class="mb-auto fst-italic">@Model.Pronunciation</p>
                <p class="mb-auto">@Model.ShortDefinition</p>
                <div class="mb-1">@Html.Raw(Model.Definition.Replace("\r\n", "<br/>"))</div>

                <p><a href="@link" target="_blank">Więcej...</a></p>
            </div>

            @{
                var verses = Model.GetVersesInfo();
                if (verses.Count > 0) {

                    <div class="container">
                        <div class="row p-1">
                            <div class="col-auto fw-bold p-1 border-top border-bottom mw-10-per">Siglum</div>
                            <div class="col fw-bold p-1 border-top border-bottom border-start">Treść</div>
                        </div>

                        @foreach (var item in verses) {
                            <div class="row p-1">
                                <div class="col-auto p-1 border-bottom mw-10-per">@Html.Raw(item.Key)</div>
                                <div class="col p-1 border-start border-bottom">@Html.Raw(item.Value.Replace("―", String.Empty).Replace(" < n>", @"<span class=""text-muted"">").Replace("</n>", "</span>"))</div>
                            </div>
                        }

                    </div>
                }
            }
        </div>
    </div>
}
