<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css?id=9" />
    <link rel="icon" type="image/svg+xml" href="~/img/baptysci-logo.svg" />

    @RenderSection("HeaderScripts", required: false)
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v9.0" nonce="TGe91ewv"></script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5 shadow" id="top-nav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="baptysci-logo" src="~/img/baptysci-logo.svg" style="width: 30px; height: 24px; opacity: 0.7;" />Kościół Chrześcijan Baptystów</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarText" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMain" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div style="display: inline-block; width: 25px;"><i class="fas fa-church"></i></div> Menu
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMain">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Service"><div style="display: inline-block; width: 25px;"><i class="fas fa-church"></i></div> Nabożeństwa i grupy biblijne</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Index"><div style="display: inline-block; width: 25px;"><i class="far fa-newspaper"></i></div> Nauczanie&nbsp;<span class="badge bg-success text-white">skrypty kazań</span></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="WhatWeBelieve"><div style="display: inline-block; width: 25px;"><i class="fas fa-cross"></i></div> Wyznanie wiary</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="About"><div style="display: inline-block; width: 25px;"><i class="fas fa-user-friends"></i></div> O nas, kim jesteśmy</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Camps" asp-action="Index"><div style="display: inline-block; width: 25px;"><i class="fas fa-child"></i></div> Obozy dla dzieci i młodzieży</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div style="display: inline-block; width: 25px;"><i class="fas fa-bible"></i></div> Biblia
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                @using DevExpress.Xpo
                                @using IBE.Data.Model
                                @using IBE.Common.Extensions
                                @using System.Linq;
                                @using Church.WebApp.Models
                                @{

                                    var view = new XPView(new UnitOfWork(), typeof(Translation));
                                    view.CriteriaString = "[BookType] = 1";
                                    view.Properties.Add(new ViewProperty("Name", SortDirection.None, "[Name]", false, true));
                                    view.Properties.Add(new ViewProperty("Description", SortDirection.None, "[Description]", false, true));
                                    view.Properties.Add(new ViewProperty("Type", SortDirection.None, "[Type]", false, true));
                                    view.Properties.Add(new ViewProperty("Catolic", SortDirection.None, "[Catolic]", false, true));
                                    view.Properties.Add(new ViewProperty("Recommended", SortDirection.None, "[Recommended]", false, true));
                                    view.Properties.Add(new ViewProperty("OpenAccess", SortDirection.None, "[OpenAccess]", false, true));

                                    var list = new List<TranslationInfo>();
                                    foreach (ViewRecord item in view) {
                                        list.Add(new TranslationInfo() {
                                            Type = (TranslationType)item["Type"],
                                            Name = item["Name"].ToString().Replace("'", ""),
                                            Description = item["Description"].ToString(),
                                            Catolic = (bool)item["Catolic"],
                                            Recommended = (bool)item["Recommended"],
                                            PasswordRequired = !((bool)item["OpenAccess"])
                                        });
                                    }
                                    var first = true;

                                    var types = Enum.GetValues(typeof(TranslationType)).OfType<TranslationType>().ToList().OrderBy(x => x.GetDescription());
                                }

                                @foreach (TranslationType type in types) {
                                    if (list.Where(x => x.Type == type).Any()) {

                                        if (first) {
                                            first = false;
                                        }
                                        else {
                                            <li><hr class="dropdown-divider"></li>
                                        }

                                        <li><h6 class="dropdown-header disabled">@type.GetDescription()</h6></li>

                                        foreach (var item in list.Where(x => x.Type == type)) {
                                            var _name = item.Name.Replace("'", "").Replace("+", "");
                                            var _description = item.Description;
                                            var _catolicBadge = item.Catolic ? $@"<span class=""badge bg-secondary"">katolicki</span>" : "";
                                            var _recommendedBadge = item.Recommended ? @"<span class=""badge bg-success text-white"">zalecany</span>" : "";
                                            var _notrecommendedBadge = type == TranslationType.Dynamic ? @"<span class=""badge bg-warning text-dark"" title=""Przekład dynamiczny może zawierać tendencyjne, dalekie od oryginału tłumaczenie"">czytaj uważnie</span>" : "";
                                            var _loginRequired = item.PasswordRequired ? @"&nbsp;<span class=""badge bg-danger"" title=""Dostęp do przekładu po podaniu hasła"">wymaga hasła</span>" : "";
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="@_name">@_description @Html.Raw(_catolicBadge)@Html.Raw(_recommendedBadge)@Html.Raw(_notrecommendedBadge)@Html.Raw(_loginRequired)</a></li>

                                        }

                                        if (type == TranslationType.Interlinear) {
                                            <li><a class="dropdown-item" href="https://biblia.oblubienica.eu/">Oblubienica.eu - Ewangeliczny Przekład Interlinearny Biblii</a></li>
                                            <li><a class="dropdown-item" href="https://biblehub.com/interlinear/matthew/1.htm">BibleHub.com - Greek Interlinear Bible</a></li>
                                            <li><a class="dropdown-item" href="https://biblehub.com/interlinear/genesis/1.htm">BibleHub.com - Hebrew Interlinear Bible</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>

                        @*@{
                            var callingUrl = Context.Request.Headers["Host"].ToString();
                            var isLocal = callingUrl.Contains("localhost");
                        }*@

                        

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div style="display: inline-block; width: 25px;"><i class="fas fa-book"></i></div> Patrologia
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown2">
                                    @{

                                        var view2 = new XPView(new UnitOfWork(), typeof(Translation));
                                        view2.CriteriaString = "[BookType] = 2 AND [Hidden] = 0";
                                        view2.Properties.Add(new ViewProperty("Name", SortDirection.None, "[Name]", false, true));
                                        view2.Properties.Add(new ViewProperty("Description", SortDirection.None, "[Description]", false, true));
                                        view2.Properties.Add(new ViewProperty("Type", SortDirection.None, "[Type]", false, true));
                                        view2.Properties.Add(new ViewProperty("Catolic", SortDirection.None, "[Catolic]", false, true));
                                        view2.Properties.Add(new ViewProperty("Recommended", SortDirection.None, "[Recommended]", false, true));
                                        view2.Properties.Add(new ViewProperty("OpenAccess", SortDirection.None, "[OpenAccess]", false, true));

                                        var list2 = new List<TranslationInfo>();
                                        foreach (ViewRecord item in view2) {
                                            list2.Add(new TranslationInfo() {
                                                Type = (TranslationType)item["Type"],
                                                Name = item["Name"].ToString().Replace("'", ""),
                                                Description = item["Description"].ToString(),
                                                Catolic = (bool)item["Catolic"],
                                                Recommended = (bool)item["Recommended"],
                                                PasswordRequired = !((bool)item["OpenAccess"])
                                            }); ;
                                        }
                                    }

                                    @if (list2.Any()) {

                                        foreach (var item in list2) {
                                            var _name = item.Name.Replace("'", "").Replace("+", "");
                                            var _description = item.Description;
                                            var _catolicBadge = item.Catolic ? $@"<span class=""badge bg-secondary"">katolicki</span>" : "";
                                            var _recommendedBadge = item.Recommended ? @"<span class=""badge bg-success text-white"">zalecany</span>" : "";
                                            var _loginRequired = item.PasswordRequired ? @"&nbsp;<span class=""badge bg-danger"" title=""Dostęp do przekładu po podaniu hasła"">wymaga hasła</span>" : "";

                                            <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="@_name">@_description @Html.Raw(_catolicBadge)@Html.Raw(_recommendedBadge)@Html.Raw(_loginRequired)</a></li>
                                        }
                                    }

                                </ul>
                            </li>
                        

                        <li class="nav-item">
                            <div class="btn-group" role="group" aria-label="Przyciski">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" title="Polityka prywatności"><i class="fas fa-user-shield"></i></a>&nbsp;&nbsp;
                                <a class="nav-link" href="https://m.me/koscioljezusa" target="_blank" title="Wyślij wiadomość"><i class="fab fa-facebook-messenger"></i></a>&nbsp;&nbsp;
                                <a class="nav-link" href="https://www.facebook.com/koscioljezusa" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
                                <a class="nav-link" href="https://www.youtube.com/channel/UCD1go_K0JxyNkuss9mZ-8HQ" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>&nbsp;&nbsp;
                            </div>
                        </li>
                    </ul>

                    <form class="d-flex" id="search-form" method="get" enctype="multipart/form-data" asp-controller="Search" asp-action="Index">
                        <input id="search-input-text" name="text" class="form-control me-2" type="search" placeholder="Szukaj w Biblii" aria-label="Szukaj w Biblii" />
                        <button id="search-button" class="btn btn-outline-success" type="submit">Szukaj</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 5em;" id="main-container">
        <main role="main" class="card border-0 shadow mt-5">
            @RenderSection("Main", false)
            <div class="bg-bible">
                <div class="card-body p-5 bible-content" style="position: relative;">
                    @RenderBody()
                </div>
            </div>
        </main>

        <div>&nbsp;</div>
    </div>

    <footer class="footer text-muted bg-dark text-center">
        <div class="container" style="line-height: 1.4em; padding-top: 5px; padding-bottom: 5px; white-space: normal;">
            &copy; @DateTime.Now.Year - <span title="Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim">KChB NDM</span> | <a class="link-secondary text-decoration-none" href="https://github.com/krzysztof-radzimski/InterlinearBibleEditor" title="Otwarty kod źródłowy niniejszej strony znajduje się w repozytorium GitHub"><i class="fab fa-github-square"></i> Open Source Project</a> | <a class="link-secondary text-decoration-none" href="~/home/privacy"><i class="fas fa-user-shield"></i> Polityka prywatności</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
