<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="icon" type="image/png" href="~/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/img/favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="~/img/favicon-196x196.png" sizes="196x196" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/apple-touch-icon-152x152.png" />

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/img/mstile-144x144.png">
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v9.0" nonce="TGe91ewv"></script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5 shadow" id="top-nav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-cross"></i> Kościół Chrześcijan Baptystów</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarText" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="WhatWeBelieve">W co wierzymy?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Service">Nabożeństwa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">O nas</a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group" role="group" aria-label="Przyciski">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" title="Polityka prywatności"><i class="fas fa-user-shield"></i></a>&nbsp;&nbsp;
                                <a class="nav-link" href="https://m.me/koscioljezusa" target="_blank" title="Wyślij wiadomość"><i class="fab fa-facebook-messenger"></i></a>&nbsp;&nbsp;
                                <a class="nav-link" href="https://www.facebook.com/koscioljezusa" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
                                <a class="nav-link" href="https://www.youtube.com/channel/UCD1go_K0JxyNkuss9mZ-8HQ" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>&nbsp;&nbsp;
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bible"></i> Biblia
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                @using DevExpress.Xpo
                                @using IBE.Data.Model
                                @using IBE.Common.Extensions
                                @using System.Linq;
                                @using Church.WebApp.Models
                                @{

                                    var view = new XPView(new UnitOfWork(), typeof(Translation));
                                    view.Properties.Add(new ViewProperty("Name", SortDirection.None, "[Name]", false, true));
                                    view.Properties.Add(new ViewProperty("Description", SortDirection.None, "[Description]", false, true));
                                    view.Properties.Add(new ViewProperty("Type", SortDirection.None, "[Type]", false, true));
                                    view.Properties.Add(new ViewProperty("Catolic", SortDirection.None, "[Catolic]", false, true));
                                    view.Properties.Add(new ViewProperty("Recommended", SortDirection.None, "[Recommended]", false, true));

                                    var list = new List<TranslationInfo>();
                                    foreach (ViewRecord item in view) {
                                        list.Add(new TranslationInfo() {
                                            Type = (TranslationType)item["Type"],
                                            Name = item["Name"].ToString().Replace("'", ""),
                                            Description = item["Description"].ToString(),
                                            Catolic = (bool)item["Catolic"],
                                            Recommended = (bool)item["Recommended"]
                                        });
                                    }
                                    var first = true;

                                    var types = Enum.GetValues(typeof(TranslationType)).OfType<TranslationType>().ToList().OrderBy(x => x.GetDescription());
                                }

                                @foreach (TranslationType type in types) {
                                    if (list.Where(x => x.Type == type).Any()) {

                                        if (first) {
                                            first = false;
                                        }
                                        else {
                                            <li><hr class="dropdown-divider"></li>
                                        }

                                        <li><h6 class="dropdown-header disabled">@type.GetDescription()</h6></li>

                                        foreach (var item in list.Where(x => x.Type == type)) {
                                            var _name = item.Name.Replace("'", "").Replace("+","");
                                            var _description = item.Description;
                                            var _catolicBadge = item.Catolic ? $@"<span class=""badge bg-secondary"">katolicki</span>" : "";
                                            var _recommendedBadge = item.Recommended ? @"<span class=""badge bg-success text-white"">zalecany</span>" : "";
                                            var _notrecommendedBadge = type == TranslationType.Dynamic ? @"<span class=""badge bg-warning text-dark"" title=""Przekład dynamiczny może zawierać tendencyjne, dalekie od oryginału tłumaczenie"">czytaj uważnie</span>" : "";

                                            <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="@_name">@_description @Html.Raw(_catolicBadge)@Html.Raw(_recommendedBadge)@Html.Raw(_notrecommendedBadge)</a></li>

                                        }
                                    }
                                }


                                @*<li><h6 class="dropdown-header disabled">Przekłady dosłowne</h6></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="PBD">Nowy Testament Dosłowny EIB <span class="badge bg-success text-white">zalecany</span></a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="PBPW">Grecko-polski Nowy Testament <span class="badge bg-secondary">Katolicki</span></a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="TRO">Textus Receptus Oblubienicy</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="IBHP">Interlinearna Biblia Hebrajsko-Polska</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><h6 class="dropdown-header disabled">Przekłady literackie</h6></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="SNP18">Biblia EIB <span class="badge bg-success text-white">zalecana</span></a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="BW">Biblia Warszawska</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="UBG18">Uwspółcześniona Biblia Gdańska</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="NBG12">Nowa Biblia Gdańska</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="BG">Biblia Gdańska</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="PBW">Nowy Testament na współczesny język polski</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="BT99">Biblia Tysiąclecia V <span class="badge bg-secondary">Katolicka</span></a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="BJW">Biblia Jakuba Wujka <span class="badge bg-secondary">Katolicka</span></a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="PBP">Nowy Testament Popowskiego <span class="badge bg-secondary">Katolicki</span></a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="PAU">Biblia Paulistów - Edycja Świętego Pawła <span class="badge bg-secondary">Katolicka</span></a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="POZ75">Biblia Poznańska <span class="badge bg-secondary">Katolicka</span></a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="EKU18">Biblia Ekumeniczna</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><h6 class="dropdown-header disabled">Przekłady dynamiczne</h6></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="PSZ">Nowy Testament Słowo Życia</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="EDB">Ewangelie dla badaczy</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Translation" asp-action="Index" asp-route-translationName="PNS1997">Przekład Nowego Świata</a></li>*@
                            </ul>
                        </li>
                    </ul>


                    <form class="d-flex" id="search-form" method="get" enctype="multipart/form-data" asp-controller="Search" asp-action="Index">
                        <input id="search-input-text" name="text" class="form-control me-2" type="search" placeholder="Szukaj w Biblii" aria-label="Szukaj w Biblii" />
                        <button id="search-button" class="btn btn-outline-success" type="submit">Szukaj</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 5em;" id="main-container">
        <main role="main" class="card border-0 shadow mt-5">
            @RenderSection("Main", false)
            <div class="bg-bible">
                <div class="card-body p-5" style="position: relative;">
                    @RenderBody()
                </div>
            </div>
        </main>

        <div>&nbsp;</div>
    </div>

    <footer class="footer text-muted bg-dark text-center">
        <div class="container">
            &copy; @DateTime.Now.Year - KChB NDM
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
