@{
    ViewData["Title"] = "O nas, Kim jesteśmy?";
}
@inject IConfiguration Configuration 
@model HtmlFileData

<div class="clearfix max-width-1000" style="padding-top: 20px;">
    @Html.Partial("~/Views/Shared/_Baner.cshtml")    
    <h1><i class="fas fa-place-of-worship"></i> @ViewData["Title"]</h1>
    @Html.Partial("~/Views/Shared/_ChatGPT.cshtml")

    @if (Model != null) {
        @Html.Raw(Model.Data)
    }

    <h2>Dane kontaktowe</h2>
    <p id="Brama" class="fs-5 float-sm-end w-25 text-center shadow p-3 mb-3 rounded"><img src="~/img/brama.jpg" style="width: 100%;" /></p>
    <p class="fs-5">
        <strong>
            <i class="fa-solid fa-cross"></i> Zbór Kościoła Chrześcijan Baptystów<br />
            w Nowym Dworze Mazowieckim
        </strong><br />
        ul. Sukienna 52 - sala na piętrze<br />
        05-100 Nowy Dwór Mazowiecki<br />
        e-mail: info@kosciol-jezusa.pl<br />
        muzyka: <a href="https://soundcloud.com/koscioljezusa/" class="text-decoration-none"><i class="fab fa-soundcloud"></i> soundcloud.com/koscioljezusa <i class="fa-solid fa-up-right-from-square"></i></a><br />
        facebook:  <a href="https://www.facebook.com/koscioljezusa" class="text-decoration-none"><i class="fab fa-facebook"></i> www.facebook.com/koscioljezusa <i class="fa-solid fa-up-right-from-square"></i></a><br />
        youtube: <a href="https://youtube.com/@@baptysci-ndm" title="Nasz kanał na YouTube" class="text-decoration-none"><i class="fab fa-youtube"></i> youtube.com <i class="fa-solid fa-up-right-from-square"></i></a><br />
        www:  <a href="@Configuration["HostUrl"]" class="text-decoration-none"><i class="fas fa-globe"></i> @Configuration["HostUrl"]</a> |  <a href="https://baptysci.pl/zbory" class="text-decoration-none">www.baptysci.pl  <i class="fa-solid fa-up-right-from-square"></i></a><br />
    </p>
    <p class="fs-6">
        <strong>Konto bankowe</strong>:<br />
        <img src="~/img/baptysci-logo-2023.svg" style="float:left; height: 150px; max-width: 30%; margin-right: 10px;" />
        <i class="fa-solid fa-cross"></i> Zbór Kościoła Chrześcijan Baptystów<br />
        w&#160;Nowym Dworze Mazowieckim<br />
        PKO Bank Polski<br />
        <b>10 1020 1185 0000 4902 0236 0147</b><br />
        NIP: 527-21-76-307
    </p>
</div>
