@{
    ViewData["Title"] = "Strona startowa";
    var host = this.Context.Request.Host;
}

@inject IConfiguration Configuration
@model HomePageModel

<div class="max-width-1000" style="padding-top: 20px;">
    @Html.Partial("~/Views/Shared/_Baner.cshtml")
    @Html.Partial("~/Views/Shared/_ChatGPT.cshtml")
       
    <div class="embed-responsive embed-responsive-16by9 shadow-lg">
        <iframe id="YouTubeFrame" width="560" height="600" src="https://www.youtube.com/embed/videoseries?list=PLUYRCCWSMh6_oq4Lj7JWva8JCxRgpf_o5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br/>

    @if (Model.IsNotNull() && Model.Articles.IsNotNull() && Model.Articles.Count > 0) {
        foreach (var item in Model.Articles) {
            var passage = item.Passage != null ? $", {item.Passage}" : "";
            var lead = item.Lead;
            lead = System.Text.RegularExpressions.Regex.Replace(lead, @"[\s\(\,\;][a,i,o,w,z]\s", delegate (System.Text.RegularExpressions.Match m) {
                return " " + m.Value.Trim() + "&nbsp;";
            }, System.Text.RegularExpressions.RegexOptions.IgnoreCase);

            <a href="/Article/@item.Id" class="list-group-item list-group-item-action m-0 border-0" aria-current="true" style="padding-left: 0; padding-right: 0;">
                <div class="card bg-transparent m-0 p-0 shadow-lg mb-3">
                    <div class="row g-0 m-0">
                        <div class="col-md-4 d-lg-block">
                            <div class="d-lg-block sermon-image-home" style="background-image: url('data:image/png;base64, @item.AuthorPicture');"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title text-gradient-church-service">@item.Subject</h3>
                                <p class="card-text" style="line-height: 1.3;">@Html.Raw(lead)</p>
                                <p class="card-text article-days-ago"><small class="text-muted">@item.AuthorName <br /> @item.GetDaysAgo()</small></p>
                            </div>
                            <strong class="d-inline-block mb-2 text-success pill-white float-end sermon-passage-home">@item.Type@passage</strong>
                        </div>
                    </div>
                </div>
            </a>
        }
        <div class="d-flex flex-row-reverse mt-3">
            <a href="/Articles" class="btn btn-secondary">Więcej...</a>
        </div>
        <br />
    }
    
    <p id="start-button-p">
        <a id="start-button" class="btn btn-warning"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           data-bs-title="Kliknij, aby zalogować się do swojego indywidualnego studium Ewangelii wg św. Jana lub utworzyć nowy profil"
           href="/BibleStudy/Signup"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Zapisz się</a>
    </p>
    @Html.Partial("~/Views/Shared/_CourseBaner.cshtml")
    
    @if (Model != null && Model.Info != null) {
        @Html.Raw(Model.Info.Data)
    }
</div>


@section HeaderScripts {
    <!-- social sharing metadata -->
    <meta property="og:title" content="@Configuration["PageTitle"]" />
    <meta property="og:description" content="Jesteśmy grupą chrześcijan, którzy pragną być kościołem Jezusa Chrystusa w Nowym Dworze Mazowieckim. Znikome znaczenie ma budynek kościelny czy przyjęty porządek nabożeństwa. Najważniejszy jest Bóg Ojciec, Syn i Duch Święty, Któremu należy się wszelka cześć, chwała i szacunek, którego czcimy i wielbimy. Ważny jest również człowiek, za którego nasz Pan oddał swoje życie i przelał bezcenną krew na krzyżu." />
    <meta property="og:image" content="http://@host/img/brama.jpg" />
    <meta property="og:url" content="http://@host" />"
    <meta property="og:type" content="page" />
    <meta property="og:locale" content="pl_PL" />
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var first = document.body.firstChild;
            if (first != null && first != undefined && first.nodeType == Node.TEXT_NODE) {
                first.remove();
            }
        });
    </script>


    <style>
        #start-button {
            color: darkred !important;
            font-size: 100%;
            padding: 0.5em;
            border-radius: 0.5em;
        }

            #start-button:hover {
                color: red !important;
            }

        #start-button-p {
            text-align: right;
            position: relative;
            top: 20px;
            right: 20px;
            padding: 0;
            margin: 0;
            height: 0;
        }

        @@media only screen and (max-width: 995px) {
            #start-button {
                font-size: 80%;
                padding: 0.3em;
                border-radius: 0.3em;
            }

            #start-button-p {
                top: 10px;
                right: 10px;
            }
        }

        @@media only screen and (max-width: 400px) {
            #start-button {
                font-size: 70%;
                padding: 0.3em;
                border-radius: 0.3em;
            }

            #start-button-p {
                top: 5px;
                right: 5px;
            }
        }
    </style>
}