@{
    var callingUrl = this.Context.Request.Headers["Host"].ToString();
    var isLocal = callingUrl.Contains("localhost");
    var isDefault = callingUrl.Contains("jezusa.pl");
    var __host = (this.Context.Request.IsHttps ? "https://" : "http://") + this.Context.Request.Host;
}
@inject IConfiguration Configuration
@inject ITranslationInfoController TranslationsController

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">

    <title>@ViewData["Title"] :: @Configuration["PageTitle"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awsome/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/svg+xml" href="~/img/baptysci-logo-2023.svg" asp-append-version="true" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="~/sitemap.xml">
    @RenderSection("HeaderScripts", required: false)

    <script type="application/ld+json">
        {
          "@@context": "@__host",
          "@@type": "WebPage",
          "name": "@ViewData["Title"] :: Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim",
          "description": "Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim :: @ViewData["Title"]. Oficjalna witryna Kościoła Chrześcijan Baptystów w Nowym Dworze Mazowieckim, na której prezentowane są podstawowe informacje o naszym zborze, szkice kazań oraz dostęp do wielu przekładów Pisma Świętego.",
          "publisher": {
            "@@type": "Organization",
            "name": "Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim"
          }
        }
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-434960238">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-434960238');
    </script>
</head>
<body data-bs-spy="scroll" data-bs-target="#top-nav" data-bs-offset="0">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5 shadow" id="top-nav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="baptysci-logo" src="~/img/baptysci-logo-2023.svg" />KChB&nbsp;NDM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarText" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll">
                        <div class="btn-group" role="group" aria-label="Menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMain" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div style="display: inline-block; width: 25px;"><i class="fa-solid fa-place-of-worship"></i></div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMain">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Service"><div style="display: inline-block; width: 25px;"><i class="fas fa-church"></i></div> Nabożeństwa i grupy biblijne</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Index"><div style="display: inline-block; width: 25px;"><i class="far fa-newspaper"></i></div> Nauczanie&nbsp;<span class="badge bg-success text-white">skrypty kazań</span></a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="WhatWeBelieve"><div style="display: inline-block; width: 25px;"><i class="fas fa-cross"></i></div> W co wierzymy (<span style="font-family: 'Old London'; font-size: 120%;">Wyznanie wiary</span>)</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="About"><div style="display: inline-block; width: 25px;"><i class="fas fa-user-friends"></i></div> O nas, kim jesteśmy</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="ChurchJournal" asp-action="Index"><div style="display: inline-block; width: 25px;"><i class="fas fa-circle-info"></i></div> Informator Zborowy</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="ChurchJournal" asp-action="LegalActs"><div style="display: inline-block; width: 25px;"><i class="fa-solid fa-file-contract"></i></div> Akty prawne</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Songs" asp-action="Index"><div style="display: inline-block; width: 25px;"><i class="fas fa-music"></i></div> Śpiewajmy dla Jezusa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Camps" asp-action="Index"><div style="display: inline-block; width: 25px;"><i class="fas fa-child"></i></div> Obozy dla dzieci i młodzieży</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="LeadersMaterials" asp-action="Index"><div style="display: inline-block; width: 25px;"><i class="fas fa-book-reader"></i></div> Materiały dla liderów</a></li>
                                <li>
                                    <a class="dropdown-item" target="_blank" href="https://chatgpt.com/g/g-EFuqOChJS" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o Kościele Chrześcijan Baptystów w Nowym Dworze Mazowieckim, korzystając z dedykowanego modelu ChatGPT"><div style="display: inline-block; width: 25px;position: relative; left: -5px;"><img src="/img/chatgpt.svg" /></div> ChatGPT</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" target="_blank" href="https://www.bing.com/chat?sendquery=1&q=Ko%C5%9Bci%C3%B3%C5%82%20Chrze%C5%9Bcijan%20Baptyst%C3%B3w%20w%20Nowym%20Dworze%20Mazowieckim&form=HECODX" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o Kościele Chrześcijan Baptystów w Nowym Dworze Mazowieckim, korzystając z Copilot"><div style="display: inline-block; width: 20px;position: relative; left: -5px;"><img src="/img/copilot.svg" /></div> Copilot</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown menu-item-a">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="menu-item-i"><i class="fa-solid fa-lines-leaning"></i></div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark scrollable-menu" aria-labelledby="navbarDropdown" style="max-height: 67vh;">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AboutBible"><div style="display: inline-block; width: 25px;"><i class="fas fa-bible"></i></div> O Biblii, czyli Piśmie Świętym Starego i Nowego Przymierza</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="BibleByVerse" asp-action="Index"><div style="display: inline-block; width: 25px;"><i class="fa-solid fa-lines-leaning"></i></div> Biblia Internetowa</a>
                                </li>

                                    @{
                                        var first = true;
                                    }

                                    @foreach (var groupName in TranslationsController.GetBibleTranslations()) {
                                        if (groupName.Count == 0) { continue; }
                                        if (first) {
                                            first = false;
                                        }
                                        else {
                                        <li><hr class="dropdown-divider"></li>
                                        }

                                    <li><h6 class="dropdown-header disabled">@groupName.Key</h6></li>

                                        foreach (var item in groupName) {
                                            var _name = item.Name.Replace("'", "").Replace("+", "");
                                            var _description = item.Description;
                                            var _catolicBadge = item.Catholic ? $@"<abbr class=""btn btn-outline-light btn-sm abbr-small"" data-bs-toggle=""tooltip"" data-bs-title=""Przekład katolicki"">katolicki</abbr>" : "";
                                            var _recommendedBadge = item.Recommended ? @"<abbr class=""btn btn-outline-success btn-sm abbr-small"" data-bs-toggle=""tooltip"" data-bs-title=""Polecamy ten przekład"">polecamy</abbr>" : "";
                                            var _notrecommendedBadge = item.TranslationType == TranslationType.Dynamic.GetDescription() ? @"<abbr class=""btn btn-outline-danger btn-sm abbr-small"" data-bs-toggle=""tooltip"" data-bs-title=""Przekład dynamiczny może zawierać tendencyjne, dalekie od oryginału tłumaczenie"">czytaj uważnie</abbr>" : "";
                                            var _loginRequired = item.PasswordRequired && !User.Identity.IsAuthenticated ? @"&nbsp;<abbr class=""btn btn-outline-warning btn-sm abbr-small"" data-bs-toggle=""tooltip"" data-bs-title=""Dostęp do przekładu po podaniu hasła"">wymaga hasła</abbr>" : "";
                                            var _isUA = item.Language == Language.Ukrainian ? @"&nbsp;<img src=""/img/ukraine.png"" style=""width: 16px; "" />" : "";
                                        <li><a class="dropdown-item" href="/@_name"><b>@item.Name</b>&nbsp;<span class="fs-80per">@_description</span>&nbsp;@Html.Raw(_catolicBadge)@Html.Raw(_recommendedBadge)@Html.Raw(_notrecommendedBadge)@Html.Raw(_loginRequired)@Html.Raw(@_isUA)</a></li>
                                        }

                                        if (groupName.Key == TranslationType.Interlinear.GetDescription()) {
                                            @*<li><a class="dropdown-item" href="https://biblia.oblubienica.eu/"><b>TRO+</b>&nbsp;<span class="fs-80per">Ewangeliczny Przekład Interlinearny Biblii-Oblubienica.eu</span></a></li>*@
                                        <li><a class="dropdown-item" href="https://biblehub.com/interlinear/matthew/1.htm"><b>BHG+</b>&nbsp;<span class="fs-80per">BibleHub.com - Greek Interlinear Bible</span></a></li>
                                        <li><a class="dropdown-item" href="https://biblehub.com/interlinear/genesis/1.htm"><b>BHH+</b>&nbsp;<span class="fs-80per">BibleHub.com - Hebrew Interlinear Bible</span></a></li>
                                        }
                                    }
                            </ul>
                        </li>

                        <li class="nav-item dropdown menu-item-a">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="menu-item-i"><i class="fas fa-book menu-item-i" data-bs-toggle="tooltip" data-bs-title="Patrologia"></i></div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown2">
                                    @{
                                        first = true;
                                    }

                                    @foreach (var groupName in TranslationsController.GetPatrologyTranslations()) {
                                        if (groupName.Count == 0) { continue; }
                                        if (first) {
                                            first = false;
                                        }
                                        else {
                                        <li><hr class="dropdown-divider"></li>
                                        }

                                    <li><h6 class="dropdown-header disabled">@groupName.Key</h6></li>

                                        foreach (var item in groupName) {
                                            var _name = item.Name.Replace("'", "").Replace("+", "");
                                            var _description = item.Description;
                                            var _catolicBadge = item.Catholic ? $@"<abbr class=""btn btn-outline-light btn-sm abbr-small"" data-bs-toggle=""tooltip"" data-bs-title=""Przekład katolicki"">katolicki</abbr>" : "";
                                            var _recommendedBadge = item.Recommended ? @"<abbr class=""btn btn-outline-success btn-sm abbr-small"" data-bs-toggle=""tooltip"" data-bs-title=""Polecamy ten przekład"">polecamy</abbr>" : "";
                                            var _loginRequired = item.PasswordRequired && !User.Identity.IsAuthenticated ? @"&nbsp;<abbr class=""btn btn-outline-warning btn-sm abbr-small"" data-bs-toggle=""tooltip"" data-bs-title=""Dostęp do przekładu po podaniu hasła"">wymaga hasła</abbr>" : "";


                                        <li><a class="dropdown-item" href="/@_name">@_description @Html.Raw(_catolicBadge)@Html.Raw(_recommendedBadge)@Html.Raw(_loginRequired)</a></li>

                                        }
                                    }
                            </ul>
                        </li>
                </div>

                <li class="nav-item">
                    <div class="btn-group" role="group" aria-label="Przyciski">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           data-bs-title="Polityka prywatności"><i class="fas fa-user-shield"></i></a>&nbsp;&nbsp;
                        <a class="nav-link menu-item-a" href="https://m.me/koscioljezusa" target="_blank" data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           data-bs-title="Wyślij wiadomość"><i class="fab fa-facebook-messenger"></i></a>&nbsp;&nbsp;
                        <a class="nav-link menu-item-a" href="https://www.facebook.com/koscioljezusa" target="_blank" data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           data-bs-title="Facebook"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
                        <a class="nav-link menu-item-a" href="https://www.youtube.com/@@baptysci-ndm" target="_blank" data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           data-bs-title="YouTube"><i class="fab fa-youtube"></i></a>&nbsp;&nbsp;
                                @if (User.Identity.IsAuthenticated) {
                            <a class="nav-link menu-item-a" asp-area="" asp-controller="Account" asp-action="Logout" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               data-bs-title="Wyloguj"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                                }
                                else {
                            <a class="nav-link menu-item-a" asp-area="" asp-controller="Home" asp-action="Secured" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               data-bs-title="Zaloguj"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                                }
                                @if (isLocal || isDefault) {
                            <a class="nav-link menu-item-a" href="https://kosciol--jezusa-pl.translate.goog/?_x_tr_sch=http&_x_tr_sl=pl&_x_tr_tl=en&_x_tr_hl=pl&_x_tr_pto=nui" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               data-bs-title="English"><img src="~/img/uk.png" style="width: 19px; min-width: 19px; position: relative; top: -3px;" /></a>

                            <a class="nav-link menu-item-a" href="https://kosciol--jezusa-pl.translate.goog/?_x_tr_sl=pl&_x_tr_tl=uk&_x_tr_hl=pl&_x_tr_pto=wapp" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               data-bs-title="Uкраїнський"><img src="~/img/ukraine.png" style="width: 19px; min-width: 19px; position: relative; top: -3px;" /></a>
                                }
                    </div>
                </li>
                </ul>

                <form class="d-flex" id="siglum-form" method="get" enctype="multipart/form-data" asp-controller="Search" asp-action="Siglum" autocomplete="off" spellcheck="false">
                    <div class="input-group">
                        <input id="siglum-input-text" name="text" class="form-control" type="text" placeholder="Porównaj lub przejdź do wersetu" aria-label="Porównaj lub przejdź do wersetu" spellcheck="false" autocomplete="off" />
                        <button id="siglum-button" class="btn btn-light topnav-button" type="submit" data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-title="Przejdź do wersetu">
                            <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                        </button>
                        <button class="btn btn-light dropdown-toggle dropdown-toggle-split topnav-button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <button class="dropdown-item" type="submit" name="type" value="go">Przejdź do wersetu</button>
                            <button class="dropdown-item" type="submit" name="type" value="compare">Porównaj przekłady</button>
                            <li><hr class="dropdown-divider"></li>
                            <a class="dropdown-item" href="/Search/Siglum" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               data-bs-title="Schemat siglów biblijnych"><i class="fa-solid fa-magnifying-glass-arrow-right"></i>&nbsp;Schemat Siglum</a>
                        </ul>
                    </div>
                </form>
                &nbsp;
                <form class="d-flex" id="search-form" method="get" enctype="multipart/form-data" asp-controller="Search" asp-action="Index" spellcheck="false">
                    <div class="input-group">
                        <input id="search-input-text" name="text" class="form-control" type="search" placeholder="Szukaj w Biblii" aria-label="Szukaj w Biblii" />

                        <button id="search-button" class="btn btn-light topnav-button" type="submit" data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-title="Szukaj w Biblii">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button class="btn btn-light dropdown-toggle dropdown-toggle-split topnav-button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">

                                @foreach (SearchRangeType rangeType in Enum.GetValues(typeof(SearchRangeType))) {
                                <button class="dropdown-item" type="submit" name="type" value="@rangeType.GetCategory()">Szukaj @rangeType.GetDescription()</button>
                                }

                            <li><hr class="dropdown-divider"></li>
                            <a class="dropdown-item" href="/Search/Siglum" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               data-bs-title="Schemat siglów biblijnych"><i class="fa-solid fa-magnifying-glass-arrow-right"></i>&nbsp;Schemat Siglum</a>
                        </ul>
                    </div>
                </form>

            </div>
            </div>
        </nav>
    </header>
    <div class="container @ViewData["ContainerClass"]" id="main-container">
        <main role="main" class="card border-0 shadow mt-5">
            @RenderSection("Main", false)
            <div class="bg-bible">
                <div class="card-body bible-content" style="position: relative; border-radius: 1rem;">
                    @RenderBody()
                </div>
            </div>
        </main>

        <div>&nbsp;</div>
    </div>
    @RenderSection("Footnotes", required: false)
    <footer class="footer text-muted bg-dark text-center" style="padding-top: .5rem;">
        <div class="container">
            &copy; @DateTime.Now.Year - <span title="@Configuration["PageTitle"]">KChB NDM</span> | <a id="github-lnk" class="link-secondary text-decoration-none" href="https://github.com/krzysztof-radzimski/InterlinearBibleEditor" title="Otwarty kod źródłowy niniejszej strony znajduje się w repozytorium GitHub"><i class="fab fa-github-square"></i> </a> | <a id="privacy-policy" class="link-secondary text-decoration-none" href="~/home/privacy"><i class="fas fa-user-shield"></i> </a>
        </div>
    </footer>

    <!-- Toasty Bootstrap -->
    <div class="toast-container position-fixed" style="z-index: 1055;">
        <div id="toastNotification" class="toast bg-solid-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-theme="dark" data-bs-autohide="true" data-bs-delay="10000">
            <div class="toast-header">
                <strong class="me-auto toast-siglum">Czekaj</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Zamknij"></button>
            </div>
            <div class="toast-body">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Ładowanie danych...</span>
                </div>
                Ładowanie danych...
            </div>
            <div class="toast-footer">               
                <a href="" target="_blank" type="button" class="btn btn-primary btn-sm">Czytaj więcej...</a>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awsome/all.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        });
    </script>

    <script>
        // Funkcja do sprawdzenia, czy href zaczyna się od jednego z podanych ciągów
        function shouldHandleLink(href) {
            if (href) {
                return href.startsWith("/BW/") ||
                    href.startsWith("/UBG18/") ||
                    href.startsWith("/PBD/") ||
                    href.startsWith("/SNPD/") ||
                    href.startsWith("/SNP18/") ||
                    href.startsWith("/BT99/") ||
                    href.startsWith("/NPI/");
            }
            return false;
        }

        // Przechwycenie zdarzenia dla wszystkich odpowiednich linków
        document.querySelectorAll('a').forEach(function (link) {
            if (shouldHandleLink(link.getAttribute('href'))) {
                link.addEventListener('mouseover', function (event) {

                    // Ustaw timeout na 1 sekundę przed wykonaniem zapytania do API
                    timeoutId = setTimeout(() => {

                        // Pobranie elementu Toast
                        var toastElement = document.getElementById('toastNotification');

                        var toastBody = document.querySelector('#toastNotification .toast-body');
                        toastBody.innerHTML = "<div class='spinner-border' role='status'><span class='visually-hidden'>Ładowanie danych...</span></div>Ładowanie danych...";

                        var toastSiglum = document.querySelector('#toastNotification .toast-siglum');
                        toastSiglum.textContent = 'Czekaj';
                                                
                        // Ustawienie pozycji Toast w miejscu kursora
                        var x = event.clientX;
                        var y = event.clientY;

                        // Sprawdź rozmiar okna przeglądarki
                        var windowWidth = window.innerWidth;
                        var windowHeight = window.innerHeight;

                        // Dostosuj pozycję Toast, jeśli wychodzi poza ekran
                        var toastWidth = 400;
                        var toastHeight = 300;

                        // Jeśli Toast wychodzi poza prawą krawędź ekranu
                        if (x + toastWidth > windowWidth) {
                            x = windowWidth - toastWidth - 10; // 10px margines
                        }

                        // Jeśli Toast wychodzi poza dolną krawędź ekranu
                        if (y + toastHeight > windowHeight) {
                            y = windowHeight - toastHeight - 10; // 10px margines
                        }


                        toastElement.style.left = x + 'px';
                        toastElement.style.top = y + 'px';
                        toastElement.style.position = 'fixed'; // Użyj pozycji fixed, aby Toast nie przesuwał się z przewijaniem strony

                        // Pokaż Toast
                        var toast = new bootstrap.Toast(toastElement);
                        toast.show();

                        var href = this.getAttribute('href');

                        fetch(`/api/Scripture?siglum=${href}`)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                var toastBody = document.querySelector('#toastNotification .toast-body');
                                var toastSiglum = document.querySelector('#toastNotification .toast-siglum');
                                var toastUrl = document.querySelector('#toastNotification .toast-footer a');

                                // Sprawdzenie, czy dane nie są null
                                if (data && data.text) {
                                    toastBody.textContent = data.text;
                                    toastSiglum.textContent = data.siglum;
                                    toastUrl.setAttribute('href', data.url);
                                } else {
                                    toastBody.textContent = "Nie znaleziono treści wersetu."; // Zastępcza wiadomość
                                    toastSiglum.textContent = "Błąd";
                                    toastUrl.setAttribute('href', href);
                                }                               
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                var toastBody = document.querySelector('#toastNotification .toast-body');
                                toastBody.textContent = "Nie znaleziono treści wersetu."; // Wiadomość w przypadku błędu

                                var toastSiglum = document.querySelector('#toastNotification .toast-siglum');
                                toastSiglum.textContent = "Błąd";
                            });
                    }, 2000); // 1000 ms = 1 sekunda
                });

                link.addEventListener('mouseout', function () {
                    // Anuluj timeout, jeśli użytkownik opuści link przed upływem timeout
                    clearTimeout(timeoutId);
                });
            }
        });
    </script>

    @*
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v9.0" nonce="TGe91ewv"></script>
    *@
</body>
</html>
