@{
    ViewData["Title"] = "Porównanie tłumaczeń";
}
@using IBE.Common.Extensions
@using Church.WebApp.Controllers;
@using System.Linq;
@using IBE.Data.Model;
@using IBE.Data.Export;

@model CompareVerseModel

@if (Model.IsNotNull() && Model.Verses.Count > 0) {
    var first = Model.Verses.First();
    var name = $"{first.GetBookName()} {first.ParentChapter.NumberOfChapter}:{first.NumberOfVerse}";
    var title = $"Porównanie tłumaczeń {name}";
    var literalTitle = $"Porównanie tłumaczeń dosłownych {name}";

    ViewData["Title"] = title;

    <div style="min-height: 80vh;">
        <div class="row p-4">
            @*<div class="col d-flex flex-column position-static">
                    <div>
                        <strong class="d-inline-block mb-2 text-success pill-white" style="width: auto;">&nbsp;@ViewData["Title"]&nbsp;</strong>
                    </div>
                </div>*@

            <div class="dropdown d-grid gap-2 d-md-flex justify-content-md-end" style="width: auto;">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuDownloadBook" data-bs-toggle="dropdown" aria-expanded="false">
                    @title
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDownloadBook">
                    <li><a class="dropdown-item" href="/api/DownloadCompareVersePdf?q=@Model.Index.Index"><i class="far fa-file-pdf" style="width:18px;"></i>&nbsp;@title w formacie PDF</a></li>
                    <li><a class="dropdown-item" href="/api/DownloadCompareVerseDocx?q=@Model.Index.Index"><i class="far fa-file-word" style="width:18px;"></i>&nbsp;@title w formacie Microsoft Word</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/api/DownloadCompareVersePdf?q=@Model.Index.Index&literal=true"><i class="far fa-file-pdf" style="width:18px;"></i>&nbsp;@literalTitle w formacie PDF</a></li>
                    <li><a class="dropdown-item" href="/api/DownloadCompareVerseDocx?q=@Model.Index.Index&literal=true"><i class="far fa-file-word" style="width:18px;"></i>&nbsp;@literalTitle w formacie Microsoft Word</a></li>
                </ul>
            </div>

            <div class="container">
                <div class="row p-1">
                    <div class="col-auto fw-bold p-1 border-top border-bottom" style="width: 8%; min-width: 50px;">Łącze</div>
                    <div class="col-auto fw-bold p-1 border-top border-bottom border-start" style="width: 8%; min-width: 80px;">Rodzaj</div>
                    <div class="col-auto fw-bold p-1 border-top border-bottom border-start" style="width: 15%; min-width: 100px;">Nazwa</div>
                    <div class="col fw-bold p-1 border-top border-bottom border-start">Treść</div>
                    <div class="col-auto fw-bold p-1 border-top border-bottom" style="width: 5%; min-width: 50px;">&nbsp;</div>
                </div>

                @foreach (var item in Model.Verses) {
                    var index = item.GetVerseIndex();
                    if (index.IsNull()) { continue; }

                    var styles = "";
                    var selected = index.TranslationName == Model.Index.TranslationName;
                    if (selected) { styles = @"style=""background-color: #fcf8e3;"""; }
                    var translationName = item.ParentTranslation.Name;
                    var translationDesc = item.ParentTranslation.Description;
                    var translationType = item.ParentTranslation.Type.GetDescription();

                    var link = $@"<a href=""/{index.TranslationName}/{index.NumberOfBook}/{index.NumberOfChapter}/{index.NumberOfVerse}"" class=""text-decoration-none"" title=""{translationDesc}"">{translationName}</a>";

                    <div class="row p-1" @Html.Raw(styles)>
                        <div class="col-auto p-1 border-bottom" style="width: 8%; font-size: 80%; min-width: 50px;">@Html.Raw(link)</div>
                        <div class="col-auto p-1 border-bottom border-start" style="width: 8%; font-size: 80%; min-width: 80px;">@translationType</div>
                        <div class="col-auto p-1 border-bottom border-start" style="width: 15%; font-size: 80%; min-width: 100px">@translationDesc</div>
                        <div class="col p-1 border-start border-bottom" id="verseText_@index.TranslationName">@Html.Raw(item.Text.Replace("―", String.Empty).Replace("<n>", @"<span class=""text-muted"">").Replace("</n>", "</span>"))</div>
                        <div class="col-auto p-1 border-bottom border-start" style="width: 5%; min-width: 50px;"><a class="dropdown-item" onclick="copyToClipboard2('#verseText_@index.TranslationName', '@name (@index.TranslationName)')" style="cursor: pointer;" title="Kopiuj treść wersetu"><i class="far fa-copy"></i></a></div>
                    </div>
                }

            </div>
        </div>
    </div>
}
