@model Song
@{
    ViewData["Title"] = Model.IsNotNull() ? Model.Name : "Pieśń";

    var __host = (this.Context.Request.IsHttps ? "https://" : "http://") + this.Context.Request.Host;
    var __path = this.Context.Request.Path;

}
@using Church.WebApp.Models
@using IBE.Common.Extensions
@using DevExpress.Xpo;
@using System.Linq;
@using IBE.Data.Model;
@inject IConfiguration Configuration



@section HeaderScripts {
    @if (Model.IsNotNull()) {
<!-- social sharing metadata -->
<meta property="og:title" content="@Model.Name - @Configuration["PageTitle"]" />
<meta property="og:description" content="@Model.Name" />
<meta property="og:image" content="@__host/img/TloSpiewnik.png" />
<meta property="og:url" content="@__host/Song?id=@Model.Oid" />
<meta property="og:type" content="song" />
<meta property="og:locale" content="pl_PL" />
    }
}

@if (Model != null) {
    <div class="row shadow-lg" style="max-width: 1040px; margin: auto;">
        <div class="col p-4 d-flex flex-column position-static">
            <div>
                <strong class="d-inline-block mb-2 text-success pill-white-lg"><a href="/Songs" class="text-decoration-none" title="Więcej pieśni"><i class="far fa-arrow-alt-circle-left"></i></a></strong>
                <strong class="d-inline-block mb-2 text-success pill-white-lg">@Model.Type.GetDescription()</strong>
            </div>
            <h3 class="mb-0">@Model.Number. @Model.Name</h3>
            <h4 class="mb-auto">Sygnatura:&nbsp;<b>@Model.Signature</b> Tempo:&nbsp;<b>@Model.BPM</b></h4>
            <p class="mb-auto fst-italic"><b>Śpiewajmy dla Jezusa</b><br />Śpiewnik zborowy KChB w Nowym Dworze Mazowieckim</p>

        </div>

        <div class="col-auto d-none d-lg-block" style="background-image: url('/img/TloSpiewnik.png'); background-position: center center; background-repeat: no-repeat; background-size: cover; max-width: 350px; width: 40%;"></div>
    </div>

    <div style="max-width: 1025px; margin: auto; padding-top: 20px;">

        @foreach (var item in Model.GetParts()) {
            <div class="row">
                @if (item.Type == SongVerseType.Chorus) {
                    <div class="col mt-3 quote2">
                        @Html.Raw(item.Text)
                        &nbsp;
                    </div>
                    <div class="col-auto mt-3 mw-138">
                        @Html.Raw(item.Chords)
                    </div>

                }
                else if (item.Type == SongVerseType.Default) {
                    <div class="col mt-3">
                        @Html.Raw(item.Text)
                    </div>
                    <div class="col-auto mt-3 mw-138">
                        @Html.Raw(item.Chords)
                    </div>
                }
                else if (item.Type == SongVerseType.Bridge) {
                    <div class="col mt-3 fst-italic">
                        @Html.Raw(item.Text)
                    </div>
                    <div class="col-auto mt-3 mw-138">
                        @Html.Raw(item.Chords)
                    </div>
                }
            </div>
        }

        @if (Model.YouTube.IsNotNullOrEmpty()) {
            <br />
            <div class="embed-responsive embed-responsive-16by9 shadow-lg">
                <iframe id="YouTubeFrame" width="560" height="600" src="@Model.YouTube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        }

    </div>
}
else {
    <div style="max-width: 1025px; margin: auto; padding-top: 20px;">
        <h1>Brak danych do wyświetlenia</h1>
        <p>Nie ma takiej pieśni w naszym śpiewniku</p>
        <a href="/Songs" class="text-decoration-none" title="Więcej pieśni"><i class="far fa-arrow-alt-circle-left"></i> Pokaż listę pieśni</a>
    </div>
}
